.display{
    
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    background: -webkit-linear-gradient(#e6f705, #f10303, rgb(6, 238, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
}
body{
    background-color: rgb(36, 36, 223);
    font-family:"Orbitron", serif;
}
.main{
    background-color: blue;
    border-radius: 20px;
    height: 100px;
    width: 300px;
    align-items: center;
    margin-right: 20%;
    margin-left: 35%;
    margin-top: 15%;
    padding:5% ;
    border: 2px solid rgb(37, 238, 37);
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
}